<% include ../partials/header %>

<div class = "container form-group col-md-6">
		<div class="form-group"><label class="label label-default">Name of Institute</label>  <text>: <%=inst.instName%></text></div>
		<div class="form-group"><label class="label label-default">Type of Institute</label>  <text>: <%=inst.instType%></text>  </div>
		<div class="form-group"><label class="label label-default">Email</label> 			   <text>: <%=inst.user.email%></text></div>
		<div class="form-group"><label class="label label-default">Location</label> 		   <text>: <%=inst.location%></text></div>
		<div class="form-group"><label class="label label-default">Rating</label> 			   <text>: <%=inst.rating%></text></div>

		<label>Contact Info</label> : <p>Coming soon </p>

		<div><a class="btn btn-dark" href="/institute/<%=inst._id%>/edit">Edit</a>

		<a class="btn btn-dark" href="/institute/<%=inst._id%>/vacancy/new">Create New Vacancy</a></div>

    <br>

		<!-- <p>Size : <%=inst.vacancyList[0]%></p> -->
<br>
		<% inst.vacancyList.forEach(function(vacancy){ %>
			<a class="btn btn-secondary" href="/institute/<%=inst._id%>/vacancy/<%=vacancy._id%>/show"><%= vacancy.description %></a>
		<%})%>


</div>	


<% include ../partials/footer %>
