<% include ../partials/header %>

<div class = "container">
		<p>instName : <%=inst.instName%></p>
		<p>instType : <%=inst.instType%></p>
		<p>Email : <%=inst.user.email%></p>
		<p>Location : <%=inst.location%></p>
		<p>Rating : <%=inst.rating%></p>

		<p>Contact Info : Coming soon </p>

		<a href="/institute/<%=inst._id%>/edit">Edit</a>

		<br>

		<a href="/institute/<%=inst._id%>/vacancy/new">Create New Vacancy</a>


		<% inst.vacancyList.forEach(function(vacancy){ %>
			<p><a href="/institute/<%=inst._id%>/vacancy/<%=vacancy._id%>/show">link</a></p>
		<%})%>


</div>	


<% include ../partials/footer %>
