<% include ../partials/header %>

<div class = "container">
	
		<p>firstName : <%=app.firstName%></p>
		<p>lastName : <%=app.lastName%></p>
		<p>Email : <%=app.user.email%></p>

		<p>Applied posts :</p>

		<%app.appliedPosts.forEach(function(post){%>
			 <p><a href="/vacancy/<%=post._id%>/show">Link</a></p>
		<%})%>

		<a href="/applicant/<%=app._id%>/edit">Edit</a>
</div>	


<% include ../partials/footer %>
