<% include ../partials/header %>


<div class = "container">
		<form action = "/institute/<%=vac.inst.id%>/vacancy/<%=vac._id%>?_method=PUT" method = "POST">
					Salary : <input type="text" name="vac[salary]" value = "<%=vac.salary%>" ><br>
					Experience : <input type="text" name="vac[exp]" value = "<%=vac.exp%>" ><br>
					Description : <textarea name = "vac[description]" value = "<%=vac.description%>" >Enter Description here ..</textarea><br>
					location : <input type="text" name="vac[location]" value = "<%=vac.location%>" ><br>
					apply_by : <input type="text" name="vac[apply_by]" value = "<%=vac.apply_by%>"> <br>
					<div class="form-group">
						<button class="btn btn-default btn-lg btn-block">Update</button>
					</div>
				</div>
		</form>

</div>	


<% include ../partials/footer %>
